    <div class="panel-body">
        <form id="user-form" (ngSubmit)="LogIn()" *ngIf="!_userService.CurrUser">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input [(ngModel)]="_login" type="text" name="login" class="form-control" placeholder="Login" required>
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input [(ngModel)]="_pass" type="password" name="pass" class="form-control" placeholder="Password" required>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit" form="user-form">
                        <i>Login</i>
                    </button>
                </div>
            </div>
        </form>
        <div *ngIf="_userService.CurrUser">
            <label>user: {{_userService.CurrUser.login}} </label>
            <button (click)="LogOut()" class="btn btn-primary" type="button">LogOut
            </button>
        </div>
    </div>